[Unit]
Description=Prometheus alertmanager
After=network.target

[Service]
User=alertmanager
Group=alertmanager
ExecStart=/usr/local/bin/alertmanager --config.file /etc/alertmanager/alertmanager.yml --storage.path /opt/alertmanager/data
Restart=on-failure

[Install]
WantedBy=multi-user.target
