[Unit]
Description=Prometheus node exporter
After=network.target prometheus.service

[Service]
User=prometheus
Group=prometheus
ExecStart=/usr/local/bin/node_exporter --no-collector.infiniband --no-collector.zfs --no-collector.wifi --no-collector.mdadm
Restart=on-failure

[Install]
WantedBy=default.target
