[Unit]
Description=Prometheus node exporter
After=network.target prometheus.service

[Service]
User=prometheus
Group=prometheus
ExecStart=/usr/local/bin/node_exporter
Restart=on-failure

[Install]
WantedBy=default.target
