[Unit]
Description=Prometheus Monitoring service
After=network.target
Wants=alertmanager.service

[Service]
User=prometheus
Group=prometheus
ExecStart=/usr/local/bin/prometheus --config.file /etc/prometheus/prometheus.yml --storage.tsdb.path /opt/prometheus/data
Restart=on-failure

[Install]
WantedBy=multi-user.target
